body {
  font-family: "Courier New", Courier, monospace;
}

body h1 {
  text-align: center;
}

#btn-clean {
  margin: 1em 0em;
  width: 95vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: uppercase;
}

#app {
  display: grid;
  width: 85vh;
  height: 85vh;
}

.pixel {
  min-width: 1px;
  min-height: 1px;
  border: 1px solid lightgray;
}
